@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans&display=swap');

:root {
    --primary-text: #fff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 80vh;
}

h1 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
}

#container {
    margin-top: 10%;
    height: 75%;
    display: flex;
}

#math-bomb-intro {
    width: 60vw;
    background: url('../images/hero-image.jpg') no-repeat center center;
    color: var(--primary-text);
    font-family: 'Fredericka the Great', 'Open Sans';
}

#math-bomb-intro p {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 32px;
}

#countdown-container {
    width: 40vw;
}