* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 80vh;
}

#container {
    margin-top: 10%;
    height: 75%;
    display: flex;
}

#math-bomb-intro {
    width: 50vw;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

#countdown-container {
    width: 50vw;
}