/*Google font similiar to chalk-style writing appearing on a blackboard*/
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans&display=swap');

/* Global style */
* {
    margin: 0;
    padding: 0;
    border: none;
    background: url('../images/hero-image.jpg');
}

body {
    height: 80vh;
    font-family: 'Open Sans';
    max-width: 2000px;
    margin: 0 auto;
}

/* Game layout */
#container {
    height: 100vh;
    display: flex;
}

h1 {
    margin-bottom: 64px;
    font-size: 6rem;
    letter-spacing: 5px;
    text-align: center;
}

#math-bomb-intro {
    padding-top: 10vh;
    background: url('../images/hero-image.jpg') no-repeat center center;
    color: #fff;
    font-family: 'Fredericka the Great', 'Open Sans';
}

#math-bomb-intro p {
    text-align: center;
    width: 80%;
    margin: 45px auto;
    font-size: 4rem;
    letter-spacing: 2px;
    line-height: 6rem;
}

#loud {
    color: rgb(188, 7, 7);
    font-weight: 800;
}

/* Digital countdown timer and START/SUBMIT button display */
#countdown-container {
    width: 100%;
    padding-top: 10vh;
}

#timer-box {
    margin-bottom: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    color: rgb(188, 7, 7);
}

#counter {
    width: 100%;
    border: 10px solid #fff;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
}

#start-box {
    display: flex;
    justify-content: center;
}

#start-bomb-timer, #submit-calc {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 10px solid #fff;
    margin-bottom: 7.5vh;
    color: rgb(188, 7, 7);
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 7rem;
    letter-spacing: 3px;
    font-weight: 700;
}

/* RESET and HELP buttons display */
#reset-help-boxes {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

#reset-timer, #game-help {
    width: 47.5%;
    display: flex;
    justify-content: center;
    border: 10px solid #fff;
    background-color: transparent;
    margin-bottom: 7.5vh;
    color: rgb(188, 7, 7);
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: 800;
}

#start-bomb-timer:hover, #submit-calc:hover, #reset-timer:hover, #game-help:hover {
    border: 10px solid rgb(188, 7, 7);
    color: rgb(188, 7, 7);
    background: #fff;
}

/* Progress bar that increments after each question is answered*/
#progress-container {
    color: #fff;
}

#progress {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    width: 90%;
}

#progress::before {
    content: "";
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
}

#progress-bar {
    position: absolute;
}

.square {
    z-index: 1;
    background: #fff;
    color: rgb(188, 7, 7);
    font-weight: 900;
    font-size: 1.5rem;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #fff;
    border-radius: 3px;
}

.square.active {
    border-color: #fff;
    transform: scale(2);
    transition: transform 0.8s;
    color: #fff;
    background-color: rgb(188, 7, 7);
}

/* Page layout once game starts changes and boxes appear with values */
#math-bomb-intro h2 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2vh;
}

#math-calc-answer {
    display: flex;
    justify-content: center;
    margin-top: 5vh; 
}

.math-calc-values {
    display: flex;
    justify-content: center;
    margin-top: 5vh; 
}

/* Random integer values are populated by the game in the empty boxes */
.empty {
    height: 150px;
    width: 150px;
    margin: 30px;
    background: #fff;
}

#equal-sign {
    font-size: 12rem;
    line-height: 150px;
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 7.5rem;
    text-align: center;
    font-weight: bold;
}

#calculated-number {
    height: 150px;
    width: 250px;
    margin: 15px;
    background: #fff;
    color: rgb(188, 7, 7);
    font-size: 7rem;
    text-align: center;
    font-weight: bold;
}

#answer-box {
    height: 150px;
    width: 800px;
    margin: 15px;
    background: #fff;
    color: rgba(0, 0, 0, 0.9);
    font-size: 7rem;
    font-family: 'Fredericka the Great';
    text-align: center;
    font-weight: bold;
}

/* Pop up bomb and help windows */
#pop-up-bomb p {
    width: 460px;
    height: 600px;
    background: #fff;
    font-size: 3rem;
}

#pop-up-help p {
    width: 450px;
    height: 600px;
    background: #fff;
    font-size: 3rem;
}

#video-game-over, #video-game-complete { 
    background-color: #fff;
    width: 450px;
    height: 450px;
    object-fit: cover;
}

#game-over-message {
    margin: 20% 10%;
}

/* media queries */
/* larger to medium screens size from 2000px wide and down */
@media screen and (max-width: 2000px) {
    h1 {
        margin-bottom: 48px;
        font-size: 5rem;
        letter-spacing: 5px;
    }

    #math-bomb-intro p {
        width: 80%;
        margin: 45px auto;
        font-size: 3rem;
        line-height: 4rem;
    }

    #countdown-container {
        width: 50%;
    }
    
    #timer-box {
        font-size: 4rem;
    }
    
    #counter {
        border: 8px solid #fff;
    }
    
    #start-bomb-timer, #submit-calc {
        border: 8px solid #fff;
        font-size: 4rem;
    }
    
    #start-bomb-timer:hover, #submit-calc:hover {
        border: 8px solid rgb(188, 7, 7);
    }

    #reset-timer, #game-help {
        border: 8px solid #fff;
        margin-bottom: 7.5vh;
        font-size: 1.5rem;
    }

    #start-bomb-timer:hover, #submit-calc:hover, #reset-timer:hover, #game-help:hover {
        border: 8px solid rgb(188, 7, 7);
    }

    .square {
        font-weight: 800;
        font-size: 1.25rem;
        height: 2.5rem;
        width: 2.5rem;
    }
    
    .square.active {
        transform: scale(1.5);
    }
    /* Page layout once game starts changes and boxes appear with values */
    #math-bomb-intro h2 {
        margin: 0 100px;
        font-size: 4rem;
        margin-bottom: 2vh;
    }

    #math-calc-answer {
        margin-top: 3.5vh; 
    }

    .math-calc-values {
        margin-top: 3.5vh; 
    }

    .empty {
        height: 130px;
        width: 130px;
        margin: 20px;
    }

    #equal-sign {
        font-size: 12rem;
        line-height: 150px;
    }

    #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
        font-size: 6.5rem;
    }

    #calculated-number {
        height: 130px;
        width: 200px;
        font-size: 6.5rem;
    }

    #answer-box {
        height: 130px;
        width: 700px;
        font-size: 6.5rem;
    }
}

/* larger to medium screens size from 1600px wide and down */
@media screen and (max-width: 1600px) {
    h1 {
        margin-bottom: 32px;
        font-size: 3.5rem;
        letter-spacing: 3px;
    }
    
    #math-bomb-intro p {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    
    #math-calc-answer {
        margin-top: 2.5vh; 
    }

    .math-calc-values {
        margin-top: 2.5vh; 
    }

    .empty {
        height: 100px;
        width: 100px;
        margin: 15px;
    }

    #equal-sign {
        font-size: 10rem;
        line-height: 125px;
    }

    #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
        font-size: 5rem;
    }

    #calculated-number {
        height: 100px;
        width: 160px;
        font-size: 5rem;
    }

    #answer-box {
        height: 100px;
        width: 400px;
        font-size: 5rem;
    }
}

/* larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #timer-box {
        font-size: 3rem;
    }
    
    #start-bomb-timer, #submit-calc {
        font-size: 3rem;
    }

    .square {
        font-weight: 700;
        font-size: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .square.active {
        transform: scale(1.5);
    }

    /* Page layout once game starts changes and boxes appear with values */
    #math-bomb-intro h2 {
        margin: 0 100px;
        font-size: 3rem;
        margin-bottom: 2vh;
    }

    /* Pop up bomb and help windows */
    #pop-up-bomb p {
        height: 370px;
        font-size: 1.5rem;
    }

    #pop-up-help p {
        height: 175px;
        font-size: 1.5rem;
    }
}

/* medium screens size from 900px wide and down */
@media screen and (max-width: 900px) {
    body {
        height: 100%;
    }
    
    #container {
        height: 100%;
        flex-direction: column;
    }

    h1 {
        margin-bottom: 0;
    }
    
    #math-bomb-intro {
        padding-top: 3vh;
        margin: 0;
        width: 100vw;
    }

    #math-bomb-intro p {
        margin: 10px auto;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }

    #countdown-container {
        margin: 0 auto;
        width: 40vw;
        padding-top: 2vh;
    }

    #counter {
        border: 5px solid #fff;
    }

    #timer-box {
        margin-top: 0;
        margin-bottom: 3vh;
        font-size: 2rem;
    }

    #start-bomb-timer, #submit-calc {
        margin-bottom: 3vh;
        font-size: 2.5rem;
        border: 5px solid #fff;
        padding: 7.5px 15px;
    }

    #reset-timer, #game-help {
        margin-bottom: 3vh;
        font-size: 1rem;
        border: 5px solid #fff;
    }

    #start-bomb-timer:hover, #submit-calc:hover, #reset-timer:hover, #game-help:hover {
        border: 5px solid rgb(188, 7, 7);
    }

    #progress {
        margin-top: 0;
        margin-bottom: 3px;
    }

    #progress::before {
        content: "";
        height: 2px;
    }

    .square {
        border: 3px solid #fff;
    }

    /* Page layout once game starts changes and boxes appear with values */
    #math-bomb-intro h2 {
        margin: 0 50px;
    }
    
    #math-calc-answer {
        margin-top: 2vh; 
    }

    .math-calc-values {
        margin-top: 2vh; 
    }

    .empty {
        height: 80px;
        width: 80px;
        margin: 10px;
    }

    #equal-sign {
        font-size: 8rem;
        line-height: 100px;
    }

    #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
        font-size: 4rem;
    }

    #calculated-number {
        height: 80px;
        width: 140px;
        font-size: 4rem;
    }

    #answer-box {
        height: 80px;
        width: 400px;
        font-size: 4rem;
    }
}

/* small screens size from 600px wide and down */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .square {
        font-weight: 600;
        font-size: 0.75rem;
        height: 1.25rem;
        width: 1.25rem;
    }
    
    .square.active {
        transform: scale(1.5);
    }

    #reset-timer, #game-help {
        font-size: 0.75rem;
    }

    /* Page layout once game starts changes and boxes appear with values */
    #math-bomb-intro h2 {
        margin: 0 30px;
        font-size: 2.5rem;
    }
    
    #math-calc-answer {
        margin-top: 2vh; 
    }

    .math-calc-values {
        margin-top: 2vh; 
    }

    .empty {
        height: 60px;
        width: 60px;
        margin: 5px;
    }

    #equal-sign {
        font-size: 6rem;
        line-height: 80px;
    }

    #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
        font-size: 3rem;
    }

    #calculated-number {
        height: 60px;
        width: 120px;
        font-size: 3rem;
    }

    #answer-box {
        height: 60px;
        width: 300px;
        font-size: 3rem;
    }

    /* Pop up bomb and help windows */
    #pop-up-bomb p {
        height: 300px;
        font-size: 1.25rem;
    }

    #pop-up-help p {
        height: 100px;
        font-size: 1.25rem;
    }
}

/* smallest screen size from 450px wide and down */
@media screen and (max-width: 450px) {
    h1 {
        font-size: 1.5rem;
    }

    #math-bomb-intro p {
        margin: 5px auto;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #timer-box {
        font-size: 1.5rem;
    }

    #counter {
        border: 2px solid #fff;
    }
    
    #start-bomb-timer, #submit-calc {
        border: 2px solid #fff;
        font-size: 1.5rem;
        font-weight: 800;
    }
    
    #start-bomb-timer:hover, #submit-calc:hover {
        border: 2px solid rgb(188, 7, 7);
    }

    #reset-timer, #game-help {
        border: 2px solid #fff;
    }

    #start-bomb-timer:hover, #submit-calc:hover, #reset-timer:hover, #game-help:hover {
        border: 2px solid rgb(188, 7, 7);
    }

    .square {
        border: 1.5px solid #fff;
        font-weight: 500;
        font-size: 0.5rem;
        height: 1rem;
        width: 1rem;
    }
    
    .square.active {
        transform: scale(1.5);
    }

    /* Page layout once game starts changes and boxes appear with values */
    #math-bomb-intro h2 {
        margin: 0 25px;
        font-size: 2rem;
    }

    .empty {
        height: 45px;
        width: 45px;
        margin: 4px;
    }

    #equal-sign {
        font-size: 4.5rem;
        line-height: 60px;
    }

    #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
        font-size: 2.25rem;
    }

    #calculated-number {
        height: 45px;
        width: 100px;
        font-size: 2.25rem;
    }

    #answer-box {
        height: 45px;
        width: 225px;
        font-size: 2.25rem;
    }
}

/* smallest screen size from 350px wide and down */
@media screen and (max-width: 350px) {
    #start-bomb-timer, #submit-calc {
        width: 60vw;
        font-weight: 550;
    }

    #reset-timer, #game-help {
        font-size: 0.5rem;
    }

    .square {
        border: 1.5px solid #fff;
        font-weight: 300;
        font-size: 0.5rem;
    }
    
    .square.active {
        transform: scale(1.2);
    }

    /* Page layout once game starts changes and boxes appear with values */
    #math-bomb-intro h2 {
        margin: 0 20px;
        font-size: 1.5rem;
    }

    .empty {
        height: 40px;
        width: 40px;
        margin: 3px;
    }

    #equal-sign {
        font-size: 4rem;
        line-height: 50px;
    }

    #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
        font-size: 1.75rem;
    }

    #calculated-number {
        height: 40px;
        width: 80px;
        font-size: 1.75rem;
    }

    #answer-box {
        height: 40px;
        width: 175px;
        font-size: 1.75rem;
    }
}